*.mode2v3
*.pbxuser
*.perspectivev3
/Compiled Locales
Build
build
TemporaryItems
.DS_Store
Afloat.xcodeproj/project.xcworkspace/xcuserdata
Afloat.xcodeproj/xcuserdata
AfloatScripting/AfloatScripting.xcodeproj/xcuserdata
